<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<title>Document</title>
</head>

<body>
	<!-- v-forとv-ifを同時に利用することは推奨されない
	同じノードに存在する時、v-forはv-ifよりも高い優先度を持つ
	v-ifがループの各繰り返して実行される -->
	<ul id="app-7">
		<li v-for="todo in todos" v-if="!todo.isCompleted">
			{{todo.task}}
		</li>
	</ul>
	<script>
		Vue.config.devtools = true;
		var app = new Vue({
			el: '#app-7',
			data: {
				todos: [
					{task: 'todo', isCompleted: false},
					{task: 'todo1', isCompleted: false},
					{task: 'todo2', isCompleted: true},
					{task: 'todo3', isCompleted: false},
				],
			}
		});
	</script>
</body>

</html>
